@import 'color.scss';
@import 'fonts.scss';
@import 'mixins.scss';

body{
	
	margin:0;
	padding:0;
	max-width:1920px;
	min-width:320px;
}

header{
	display:flex;
	justify-content:center;
	
}
.headerCenter,.logo,.menu,.menu__ul{
	display:flex;
}
.headerCenter,.headerMobile{
	width:83%;
}
.logo{
	padding-top:1%;
	padding-bottom:1%;
	height:100%;
	width:30%;
	
}
.img_size{
	width:40px;
	height:40px;
}
.text_size{
	margin-left:2%;
	margin-top:12px;
	margin-bottom:12px;
	height:15px;
	
}
.menu{
	width:70%;
	
}
.buttonBlock__button{
	height:50%;
	margin:10px;
	width:10%;
}
.buttonLogin_color{
	@include butStyleTransparent;	
}
.buttonRegistr_color{
	@include butStylePurple;
}
.menu__ul{
	list-style-type:none;
	justify-content:space-around;
	width:80%;
	select{
		color:$darkMedium;
		border: none;
		outline: none;
		font-size:19px;
		font-family:$staticText;
		
	}
	a{
		color:$darkMedium;
	}
}
.headerCenter__clickBlock{
	display:flex;
	justify-content:flex-end;
	width:100%;
}
.headerCenter__click{
	height: 60%;
    width: 32px;
    background-image: url(../img/nav.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.mobile{
	display:none;
	justify-content:flex-end;
	margin-top:5px;
}
.desktop{
	display:flex;
}
nav{
	display:flex;
	justify-content:center;
	
	li{
	list-style-type:none;
	display:flex;
	list-style-type:none;
	justify-content:center;
	width:80%;
	select{
		color:$darkMedium;
		border: none;
		outline: none;
		font-size:19px;
		font-family:$staticText;
		
	}
	a{
		color:$darkMedium;
	}
	}
}
.footerCenter{
	width:100%;
	display:flex;
	justify-content:center;
	margin-top:4%;
}
.footerGeneral{
	display:flex;
	width:83%;
	justify-content:space-between;
	
}
.footerGeneral-center{
	display:flex;
	justify-content:center
}
.end{
	border-top:1px solid $darkLow;
}
.footer-center{
	//width:20%;
	margin-left:2%;
	
}
.foterEnd-center-img{
	width:30%;
	padding-top:1%;
	
	img{
		//float:right;
		margin-left:4%;
		min-width:14.4px;
		width:5%;
		//heigh:100px;
	}
}
.position{

	img{
		float:right;
		min-width:14.4px;
	}
}
.big{
	padding:0;
	p{
		padding:0;
		margin:0;
	}
	width:25%;
	input{
		margin-top:6%;
		height:13%;
		width:80%;
		
	}
	input[placeholder]{text-overflow:ellipsis;}
	input::-moz-placeholder{text-overflow:ellipsis;} 
	input:-moz-placeholder{text-overflow:ellipsis;} 
	input:-ms-input-placeholder{text-overflow:ellipsis;}
}

.inputStandartElement{
	@include inputStandart;
	width:300px;
	
}
.inputMediumtElement{
	@include inputStandart;
	
}
.inputMiniElement{
	@include inputStandart;
}
.forms{
	display:flex;
	flex-direction:column;
	background:white;
	border-radius: 4px;
}
.index{
	width:350px;
	padding-left:4%;
	padding-bottom:2%;
	button{
		margin-top:6%;
	}
}
.registr{
	height:500px;
	padding-left:2%;
	padding-right:2%;
	p{
		margin:0;
		padding:2%;
	}
	input,button{
		margin-bottom:3%;
	}
}
.fixed-forms{
	padding-top:5%;
	width: 83%;
	display:flex;
	justify-content:center;
}
.fixed-forms-column{
	width:50%;
	display:flex;
	flex-direction:column;
}
.second{
	justify-content:flex-end;
	text-align:right;
	p{
		margin-left:70%;
		width:30%;
		
	}
}
.mini{
	font-size:18px;
}
.forms-flex{
	display:flex;	
}
.arround{
	justify-content:space-around;
	width:86%;
}
.buttonStandart{
	width:300px;
	height:40px;
}

.purple{
	@include butStylePurple;
}
.buttonMini{
	width:100px;
	height:40px;
	
}
.transparent{
	@include butStyleTransparent;
}
.general{
	background-image:url(../img/image3.png);
	@include generalBlock;
}
.general_registr{
	background-image:url(../img/image4.png);
	@include generalBlock;
}






@media screen and (min-width: 850px) and (max-width: 1100px){
	
	.headerCenter{
		width:90%;
	}
	.footerGeneral{
		
		width:90%;
	}
	.second p{
		width:70%;
		margin-left:30%;
	}
}
@media screen and (min-width: 600px) and (max-width: 1000px){

	.menu{
		width:85%;
	
	}
	.logo{
		width:15%;
	
	}
}
@media screen and (min-width: 850px) and (max-width: 900px){
	.menu{
		font-size:$sizeMedium;
		select{
			font-size:$sizeMedium;
		}
	}
	.general{
		height:750px;
	}
}
@media screen and (min-width: 750px) and (max-width: 850px){

	.headerCenter{
		width:95%;
	}
	
	.menu{
		font-size:$sizeLow;
		select{
			font-size:$sizeLow;
		}
	}
	.footerGeneral{
		width:95%;
		p{
			font-size:15px;
		}
	}
	.second p{
		width:90%;
		margin-left:10%;
	}
	.general{
		height:650px;
	}
	
}
@media screen and (min-width: 320px) and (max-width: 750px){
	.headerCenter{
		width:100%;
	}
	.footerGeneral{
		
		width:100%;
	}
	.desktop{
		display:none;
	}
	.mobile{
		display:flex;
	}
	.footerGeneral{
		.footer-center,.big{
			padding:0;

		}
		p{
			font-size:11px;
		}
		h2{
			font-size:11px;
		}
	}
	.img_size{
		width:20px;
		height:20px;
	}
	.text_size{
		height:8px;
	}
	.second p{
		width:100%;
		margin-left:0%;
		font-size:15px;
	}
	.general{
		height:550px;
	}
	.index{
		width:250px;
		padding-left:16%;
		padding-bottom:10%;
		height:300px;
		button{
			width:220px;
		}
		input{
			width:110px;
		}
		select{
			width:220px;
			
		}
		.mini{}
	}
}
@media screen and (min-width: 750px) and (max-width: 870px){
	.big{
		input{
			width:160px;
		}
	}
}