@import 'color.scss';
@import 'fonts.scss';
@import 'mixins.scss';
@import 'modification.scss';
body{
	
	margin:0;
	padding:0;
	max-width:1920px;
	min-width:320px;
}

	/***header style**/
	
header{
	display:flex;
	justify-content:center;
	
}
.headerCenter,.headerCenter__menu,.headerCenter__ul{
	display:flex;
}
.headerCenter,.headerMobile{
	width:83%;
}
.headerCenter{
	justify-content:space-between;
	&__ul{
		list-style-type:none;
		justify-content:space-around;
		width:80%;
	}
	&__select{
		color:$darkMedium;
		border: none;
		outline: none;
		font-size:19px;
		font-family:$staticText;
	}
	&__menu{
		width:70%;
	}
	&__clickBlock{
		display:flex;
		justify-content:flex-end;
		width:100%;
	}
	&__click{
		height: 60%;
		width: 20px;
		background-image: url(../img/nav.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
}
.logo{
	&__img{
		width:80.61px;
		margin-top:16%;
	}
}

.buttonBlock{
	display:flex;
	
	&__button{
		height:50%;
		margin:10px;
		width:10%;
	}
}
.navigation{
	display:flex;
	justify-content:center;
	
	&__li{
	list-style-type:none;
	display:flex;
	list-style-type:none;
	justify-content:center;
	width:80%;
	}
	&__select{
		color:$darkMedium;
		border: none;
		outline: none;
		font-size:19px;
		font-family:$staticText;
		
	}
}

/***footer style**/


.footerCenter{
	width:100%;
	display:flex;
	justify-content:center;
	
	
}
.footerGeneral{
	display:flex;
	width:83%;
	justify-content:space-between;
	&__text{
		width:60%;
	}
	&__p{
		margin:0;
	}
	&__sectionCenter{
		margin-top:5%;
		margin-left:2%;
	}
	&__section{
		margin-top:5%;
		padding:0;
		width:25%;
	}
	&__input{
		margin-top:6%;
		height:13%;
		width:80%;
	}
	&__input[placeholder]{text-overflow:ellipsis;}
	&__input::-moz-placeholder{text-overflow:ellipsis;} 
	&__input:-moz-placeholder{text-overflow:ellipsis;} 
	&__input:-ms-input-placeholder{text-overflow:ellipsis;}
}

.imgBlock{
	
	width:40%;
	
	&__img{
		max-width:20px;
		margin-left:4%;
		min-width:14.4px;
		width:8%;
		padding-top:4%;
		
	}
}

		//***page forms***//
		
.inputStandartElement{
	@include inputStandart;
	width:300px;
	//min-height:30px;
	
}
.inputMediumtElement{
	@include inputStandart;
	
}
.inputMiniElement{
	@include inputStandart;
}
.buttonStandart{
	width:300px;
	height:40px;
}

.buttonMini{
	width:100px;
	height:40px;
	
}

		//**forms**//
		
.form{
	display:flex;
	flex-direction:column;
	background:white;
	border-radius: 4px;
	width:360px;
	height:320px;
	&__button{
		margin-left:5%;
		margin-top:5%;
		margin-bottom:5%;
	}
	&__select{
		margin-left:5%;
	}
	&__input{
		margin-left:5%;
	}
	&__title{
		margin-left:5%;
	}
	&__text{
		margin-left:5%;
	}
}
.flexBlock{
	display:flex;
	justify-content:space-around;
	//width:98%;
	&__text{}
	&__title{}
	&__element{
		//margin-left:5%;
	}
}

.generalCenter{
	width: 83%;
	height:100%;
	display:flex;
	justify-content:center;
	flex-direction:column;
	&__row{
		width:100%;
		height:50%;
		display:flex;
		padding-top:4%;
	}
	&__text{
		margin-top:320px;
		height:20px;
	}
}
.general{
	background-image:url(../img/image3.png);
	@include generalBlock;
}


@media screen and (min-width: 850px) and (max-width: 1100px){
	
	.headerCenter{
		width:90%;
	}
	.footerGeneral{
		
		width:90%;
	}
	
}
@media screen and (min-width: 600px) and (max-width: 1000px){

	.headerCenter__menu{
		width:85%;
	
	}
	
	
}
@media screen and (min-width: 850px) and (max-width: 900px){
	.headerCenter{
		&__menu{
			font-size:$sizeMedium;
		}
		&__select{
			font-size:$sizeMedium;
		}
	}
	.general{
		height:750px;
	}
	.generalCenter{
	//padding-top:5%;
		&__text{
		margin-top:300px;
		height:20px;
		font-size:18px;
		}
	}
}
@media screen and (min-width: 750px) and (max-width: 850px){

	.headerCenter{
		width:95%;
		&__menu{
			font-size:$sizeLow;
		}
		&__select{
			font-size:$sizeLow;
		}
	}
	.footerGeneral{
		width:95%;
		&__text{
			font-size:15px;
		}
	}
	.generalCenter{
		&__text{
			width:90%;
			margin-left:10%;
		}
	}
	.general{
		height:650px;
	}
	.generalCenter{
	//padding-top:5%;
		&__text{
		margin-top:270px;
		height:20px;
		font-size:16px;
		}
	}
	
}
@media screen and (min-width: 320px) and (max-width: 750px){
	.headerCenter{
		width:100%;
	}
	.footerGeneral{
		
		width:100%;
	}
	.footerGeneral{
		&__sectionCenter,&__section{
			padding:0;

		}
		&__text{
			font-size:11px;
		}
		&__title{
			font-size:11px;
		}
	}
	
	.flex-end{
		width:100%;
		font-size:15px;
	}
	.general{
		height:550px;
	}
	.generalCenter{
	//padding-top:5%;
		&__text{
		margin-top:200px;
		height:20px;
		font-size:15px;
		}
	}
	.form{
		width:260px;
		
		&__select,&__button{
			width:200px;
		}
	}
	.flexBlock__input{
		width:100px;
	}
	
	
}
@media screen and (min-width: 750px) and (max-width: 870px){
	.footerGeneral{
		&__input{
			width:160px;
		}
	}
}